//Font
$root-font-family: Outfit;
$root-font-size: 15px;

//Color
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
}

body {
  background-color: hsl(212, 45%, 89%);

  main {
    width: 320px;
    height: 500px;
    background-color: $white;
    padding: 15px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    box-shadow: 0 0 30px rgba($color: $grayish-blue, $alpha: 0.5);

    img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .content {
      text-align: center;

      h1 {
        color: $dark-blue;
        font-size: 1.48rem;
        margin-bottom: 15px;
      }

      p {
        color: $grayish-blue;
        padding: 0 20px;
      }
    }
  }
}
