// Colors
$white: hsl(0, 0%, 100%);
$light-blue: hsl(212, 45%, 89%);
$gray: hsl(216, 15%, 48%);
$deep-blue: hsl(218, 44%, 22%);

// Font
$root-font-size: 15px;
$root-font-family: Outfit;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: 1.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  background: $light-blue;

  main {
    width: 320px;
    height: 500px;
    background: $white;
    padding: 15.5px;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgba($color: $gray, $alpha: 0.15);

    article {
      #qr-image {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
      }

      #detail {
        padding: 24px 13px 20px 13px;

        h1 {
          font-size: 1.45rem;
          margin-bottom: 15px;
          color: $deep-blue;
          font-weight: 700;
        }

        p {
          color: $gray;
          font-weight: 400;
        }
      }
    }
  }
}
